/* Basic style */
* {
  box-sizing: border-box;
}

body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}

h1,
h2,
p,
a {
  color: var(--primary)
}

li {
  font-size: 2em;
  display: inline-block;

  a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.8em;
    background: var(--secondary);
    color: var(--highlight-primary);
    border: var(--line) solid var(--highlight-primary);
    border-radius: var(--pill);
    font-weight: normal;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}


/* UI Event Classes */

/* Jump animation on the Design link */
a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties en stijlen */



/* 1 frontend*/


.scale-up {
  animation-name: frontend;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}



@keyframes frontend {

  0% {
    scale: 1;
  }

  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

/* 2 &*/



.movingleftright{
  animation-name: tweedeknop ;
  animation-duration:0.8s ;
  animation-iteration-count: 1;
}


@keyframes tweedeknop {

  0% {
        transform: translatey(0);
  }
  50%{

        transform: translatey(10px);

  }

  100%{

        transform: translateY(0);
  }


}

/* 3 shake knop */

.shake{

  animation-name: shakebutton ;
  animation-duration:0.8s ;
  animation-iteration-count: 1;
}

@keyframes shakebutton{

0%{ rotate: 0deg;
  }

  20%{ rotate: 5deg;}

  40%{  rotate: 0deg;}

  60%{ rotate:5deg ;}

  80%{ rotate: 0deg;}
  
  90%{ rotate: 5deg;}
   
  100%{rotate: 0deg;}

}


/* 4 focus*/


.focusbutton{
   animation-name:focusanimation ;
   animation-duration:2s ;
   animation-iteration-count: 1;




}


@keyframes focusanimation{

  0%{ translate: 0 ;
   }

  50%{background-color: black; transition: 0.4s;}

  100%{background-color: #7ce7c9;}
}


/* 5 mouseover */

.overtextchange{

  color: #9d7beb;






}


/* 6 pointerover */


.pointeroutanimation{

   animation-name:pointerroutanimation ;
   animation-duration:2s ;
   animation-iteration-count: 1;


}


@keyframes pointerroutanimation{

 
 0%{
  rotate:0turn;
} 
100%{
 rotate:1turn;}


 }


/* 7  */

.flip {
  animation-name: --flip;
  animation-duration: 2s;
  animation-iteration-count: 1;
}


@keyframes --flip {
  0% { 
    transform: rotateY(0deg); 
  }

  25% { 
    transform: rotateY(180deg); 
  }
  
  100% { 
    transform: rotateY(0deg); 
  }  
}

/* 8 */
.user-a {
  color: orange;  
}

.user-h {
  color: palegreen;
}

.user-m {
  color: palevioletred;
}



